* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    display: flex;
    color: #333;
    justify-content: center;
}

#container {
    align-items: center;
}

.logo{
    width: 250px;
    margin-top: 10px;
    
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.line {
    width: 103%;
    height: 5px;
    background-color: #0193cf;
}

#footer {
    display: flex;
    justify-content: left;
    align-items: end;
    height: 100%;
    padding: 10px;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: space-between;
}

html {
    height: 100%;
}

#button {
    display: flex;
    flex-direction: row;
}

.fancyLink {
    font-size: medium; 
    color: grey; 
    text-decoration: none;
    transition: font-size 0.5s;
}

.fancyLink:hover {
    color: blue;
    font-size: large;
    text-decoration: underline;
}

.table {
    display: flex;
    justify-content: center;
}

.comentarios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 8px;
}

.padding {
    padding: 10px;
}

.textarea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

th {
  border:1px solid black;
}

td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.centerAlign{
    text-align: center;
}

.justifyContentCenter {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.flash {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c3e6cb;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  font-weight: bold;
  animation: fadeOut 0.5s ease-in-out forwards;
  animation-delay: 5s;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}


#message {
    display: flex;
    justify-content: center;
    color: rgb(9, 180, 9);
    font-weight: bold;
}

.bottonesEncuestas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 7%;
    gap: 10px;
    height: 100px;
}

.generadorTable {
    display: flex;
    justify-content: center;
    height: 70%;
}

.encuesta {
    display: flex;
    justify-content: center;
    width: 50px;
}

.sinBordes th,
.sinBordes td {
  border: none;
  display: flex;
  justify-content: center;
}

.search {
    text-align: center;
    margin-bottom: 20px;    
}