<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Encuesta de Satisfacción 'Servicio'</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        hr.custom-line {
            border: none;
            height: 5px;
            background-color: #0193cf;
            opacity: 1;
            margin: 0;
        }

        footer {
            position: fixed;
            bottom: 10px;
            left: 10px;
            font-size: 0.9rem;
        }
        footer a {
            color: #0d6efd; 
            text-decoration: none;
        }
        footer a:hover {
            text-decoration: underline;
        }

        html {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <header class="text-center mb-4">
        <img src="https://kentek.com.mx/Imagenes/kenteklogo.png" alt="Kentek Logo" class="mx-auto d-block" style="max-width: 200px; height: auto; padding-top: 10px;">
        <br>
        <hr class="custom-line" />
    </header>

    <div class="container my-5">
        <h1 class="mb-4 text-center">Encuesta de Satisfacción 'Servicio'</h1>
        
        <form action="/guardar" method="post">
            <div class="mb-3 row">
                <label for="cliente" class="col-sm-3 col-form-label fw-bold">Cliente:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="cliente" value="{{ cliente }}">
                    <input type="hidden" name="cliente" value="{{ cliente }}">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="codigo" class="col-sm-3 col-form-label fw-bold">ID de encuesta:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="codigo" value="{{ codigo_final }}">
                    <input type="hidden" name="codigo" value="{{ codigo_final }}">
                </div>
            </div>

            <div class="table-responsive mb-4 table">
                <table class="table table-bordered border-dark" style="min-width: 600px;">
                    <thead class="table-light table-bordered border-dark text-center align-middle">
                        <tr>
                            <th>Servicio</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <thead class="table-light table-bordered border-dark text-center align-middle">
                            <th colspan="6">Competencia y Actitud del Personal que los Atiende</th>
                        </thead>
                        <tr>
                            <td>Personal Calidad (1 - Muy Malo, 5 - Excelente)</td>
                            {% for val in range(1,6) %}
                            <td class="text-center">
                                <input type="radio" name="Q8" value="{{ val }}" required>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Personal Embarques (1 - Muy Malo, 5 - Excelente)</td>
                            {% for val in range(1,6) %}
                            <td class="text-center">
                                <input type="radio" name="Q9" value="{{ val }}" required>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Personal Servicio al Cliente (1 - Muy Malo, 5 - Excelente)</td>
                            {% for val in range(1,6) %}
                            <td class="text-center">
                                <input type="radio" name="Q10" value="{{ val }}" required>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Facilidad para Realizar Negociaciones con KENTEK (1 - Muy Malo, 5 - Excelente)</td>
                            {% for val in range(1,6) %}
                            <td class="text-center">
                                <input type="radio" name="Q11" value="{{ val }}" required>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Evalue la capacidad de Kentek para atender y ajustarse a los cambios especiales en sus requerimientos (1 - Muy Malo, 5 - Excelente)</td>
                            {% for val in range(1,6) %}
                            <td class="text-center">
                                <input type="radio" name="Q12" value="{{ val }}" required>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Como Considera a Kentek para nuevos proyectos (1 - Muy Malo, 5 - Excelente)</td>
                            {% for val in range(1,6) %}
                            <td class="text-center">
                                <input type="radio" name="Q13" value="{{ val }}" required>
                            </td>
                            {% endfor %}
                        </tr>                            
                        <thead class="table-light table-bordered border-dark text-center align-middle">
                            <tr>
                               <th colspan="6">General</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Califica a KENTEK como proveedor en los últimos meses</td>
                            {% for val in range(1,6) %}
                            <td class="text-center">
                                <input type="radio" name="Q14" value="{{ val }}" required>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mb-4">
                <label for="comentarios" class="form-label fw-bold">Comentarios adicionales:</label>
                <textarea class="form-control border-dark" id="comentarios" name="comentarios" rows="3"></textarea>
            </div>

            <input type="hidden" name="departamento" value="Calidad">
            <input type="hidden" name="nombre" value="{{ session.get('nombre', '') }}">

        </form>
        <div class="d-flex justify-content-center">
            <a href="/encuestas"><button class="btn btn-primary px-5">Regresar</button></a>
        </div>
    </div>

    <footer>
        <a href="https://kentek.com.mx/Es-Mx.html#Contacto" target="_blank" rel="noopener noreferrer">Contactanos</a>
    </footer>
</body>
</html>
