<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Encuesta de Satisfacción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
</head>
<body>
    <div>
        <div id="header">
            <img src="https://kentek.com.mx/Imagenes/kenteklogo.png" alt="" class="logo">
            <div class="line"></div>
        </div>
        <div id="container">
            <h1>Cual encuesta deseas ver</h1>
            <form action="/departamento" method="post">
                <div class="bottonesEncuestas">
                    <input type="submit" name="departamento" value="Calidad" style="width: 100px;">
                    <input type="submit" name="departamento" value="Entregas" style="width: 100px;">
                    <input type="submit" name="departamento" value="Servicio" style="width: 100px;">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
