<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Generador de Encuestas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css')}}" />
</head>
<body onload="displayDate">
    <div id="header">
        <img src="https://kentek.com.mx/Imagenes/kenteklogo.png" alt="" class="logo">
        <div class="line"></div>
    </div>
    <div>
        <h1>Generador de Encuestas</h1>
    </div>
    <div class="table">
        <table style="width: 15%;">
            <tr>
                <th><p id="date">{{ session['codigo_final'] }}</p></th>
            </tr>
        </table>
    </div>
    <br><br>
    <form action="/enviar" method="POST">
        <div class="table">
            <table style="width: 15%;">
                <tr>
                    <th>Cliente/Planta</th>
                </tr>
                <tr>
                    <td class="justifyContentCenter"><input type="text" name="cliente" required></td>
                </tr>
            </table>
        </div>
        <br><br>
        <div class="generadorTable">
            <table style="width: 30%;">
                <tr>
                    <th>Correo Calidad</th>
                    <th>Mensaje</th>
                </tr>
                <tr>
                    <td><input type="text" name="mailCalidad"></td>
                    <td><textarea name="mensajeCalidad"></textarea></td>
                </tr>
                <tr>
                    <th>Correo Entregas</th>
                    <th>Mensaje</th>
                </tr>
                <tr>
                    <td><input type="text" name="mailEntregas" ></td>
                    <td><textarea name="mensajeEntregas"></textarea></td>
                </tr>
                <tr>
                    <th>Correo Servicio</th>
                    <th>Mensaje</th>
                </tr>
                <tr>
                    <td><input type="text" name="mailServicio" ></td>
                    <td><textarea name="mensajeServicio"></textarea></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="justifyContentCenter">
            <table class="sinBordes">
                <tr>
                    <th><input type="submit" value="Enviar" class="padding"></th>
                </tr>
                <tr><th><th></th></th></tr>
    </form>
                <tr>
                    <th>
                        <form action="/encuestas" method="POST">
                            <input type="submit" value="Encuestas" class="gap">
                        </form>
                    </th>
                </tr>
            </table>
        </div>
    <div id="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div id="flash-message" class="flash">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>