<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gracias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
</head>
<body>
    <div>
        <div id="header">
            <img src="https://kentek.com.mx/Imagenes/kenteklogo.png" alt="" class="logo">
            <div class="line"></div>
        </div>
        <div id="container">
            <h1>¡Gracias por tu respuesta!</h1>
            <p>Tu opinión nos ayuda a mejorar.</p>
            
            <form action="/" method="get">
                <input type="submit" value="Entregar otra respuesta">
            </form>
        </div>
    </div>
    <div id="footer">
        <h2 style="font-size:medium;color:gray"><a href="https://kentek.com.mx/Es-Mx.html#Contacto" target="_blank" rel="noopener noreferrer">Contactanos</a>
        </h2>
    </div>
</body>
</html>
